<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="NGtoDo.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script>
var app=angular.module('myApp',[]);
app.controller('myCtrl',function($scope){
	$scope.list = [];
	$scope.complete = [];

	$scope.add = function () {
	    $scope.list.push({text:$scope.form,done:false});
	    $scope.form = '';
	  };
	  
	$scope.tasks=function(a){
		if(a=='all'){
			$scope.sort={};
		}
		if(a=='pending') {
			$scope.sort={done:false};
		}
		if (a=='completed'){
			$scope.sort={done:true};
		}
	};
	
});
</script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div id="container">
	<h1>To Do List</h1>

<div id="head">
	<h3>To Do List</h3>
	<label>Enter the task</label>
	<input type="text" id="enterInput" ng-model="form" >
	<button ng-click="add()">Add</button>
</div>

<a href="#" ng-click="tasks('all')">All Tasks</a>
<a href="#" ng-click="tasks('pending')">Pending</a>
<a href="#" ng-click="tasks('completed')">Completed</a>
<div id="allTasks">
	<ul>
	<li ng-repeat="x in list|filter:sort"><input type="checkbox" ng-model="x.done" ><span class="done-{{x.done}}">{{x.text}}</span></li>
	</ul>
</div>






</div>

</body>
</html>