<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="NGtoDo.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script>
var app=angular.module('myApp',[]);
app.controller('myCtrl',function($scope){
	$scope.list = [];
	$scope.complete = [];

	$scope.add = function () {
	    $scope.list.push({text:$scope.form, done:false});
	    $scope.form = '';
	  };
	  $scope.checked = function () {
		    $scope.complete.push({text:$scope.form, done:true});
		    $scope.form = '';
		  };
});
</script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div id="container">

<div id="head">
	<h3>To Do List</h3>
	<label>Enter the task</label>
	<input type="text" id="enterInput" ng-model="form" >
	<button ng-click="add()">Add</button>

</div>

<div id="pending">
	<h3>Pending Tasks</h3>
	<ul>
	<li ng-repeat="x in list"><input type="checkbox" ng-model="x.done"  ng-click="checked()"><span class="done-{{x.done}}">{{x.text}}</span></li>
	</ul>
</div>

<div id="completed">
	<h3>Completed Tasks</h3>
	<ul>
	<li ng-repeat="y in complete"><input type="checkbox" ng-model="y.done" ><span class="done-{{y.done}}" >{{y.text}}</span></li>
	</ul>
</div>




</div>

</body>
</html>